@charset 'utf-8';
/* boody */

 
/* button */
.btn-wrap {z-index:10;margin:18px 0 0 0;text-align:center;font-size:0;}
.btn-wrap:after {display:block;content:'';clear:both;}
.btn-wrap .left {float:left;}
.btn-wrap .right {float:right;}
.btn-left {margin:18px 0 0 0;text-align:left;font-size:0;}
.btn-right {margin:18px 0 0 0;text-align:right;font-size:0;}
.btn-center {margin:18px 0 0 0;text-align:center;font-size:0;}
.btn-wrap a,
.btn-left a,
.btn-right a,
.btn-center a {margin:0 0 0 6px;}
.btn-wrap a:first-child,
.btn-left a:first-child,
.btn-right a:first-child,
.btn-center a:first-child {margin:0;}
.xssss-btn {display:inline-block;padding:0 4px;text-align:center;height:16px;line-height:14px;font-size:11px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.xsss-btn {display:inline-block;padding:0 7px;text-align:center;height:22px;line-height:20px;font-size:12px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.xsss-btn2 {display:inline-block;padding:0 7px;text-align:center;height:25px;line-height:22px;font-size:12px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.xss-btn {display:inline-block;padding:0 14px;text-align:center;height:32px;line-height:30px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.xs-btn {display:inline-block;padding:0 14px;text-align:center;height:34px;line-height:32px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.s-btn {display:inline-block;padding:0 12px;text-align:center;height:36px;line-height:34px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.s-btn2 {display:inline-block;min-width:76px;padding:0 12px;text-align:center;height:36px;line-height:34px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.m-btn {display:inline-block;padding:0 15px;text-align:center;height:38px;line-height:36px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.m-btn2 {display:inline-block;min-width:76px;padding:0 15px;text-align:center;height:38px;line-height:36px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.m-btn3 {display:inline-block;min-width:82px;padding:0 15px;text-align:center;height:38px;line-height:36px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.l-btn {display:inline-block;padding:0 30px;text-align:center;min-width:106px;height:42px;line-height:40px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.l-btn2 {display:inline-block;padding:0 12px;text-align:center;height:42px;line-height:40px;font-size:14px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.xl-btn {display:inline-block;padding:0 40px;text-align:center;height:54px;line-height:52px;font-size:16px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
.xl-btn2 {display:inline-block;padding:0 40px;text-align:center;height:54px;line-height:25px;font-size:16px;cursor:pointer;vertical-align:middle;box-sizing:border-box;border-radius:2px;}
span.xss-btn,span.xs-btn,span.s-btn,span.s-btn2,span.m-btn,span.m-btn2,span.m-btn3,span.l-btn,span.l-btn2,span.xl-btn {cursor:pointer;}
.btn-pink {border:1px solid #f05a89;background:#f05a89;color:#fff !important;}
.btn-pinkline {border:1px solid #f37ba1;background:#fff;color:#f05a89 !important;}
.btn-darkgray {border:1px solid #54595f;background:#54595f;color:#fff !important;}
.btn-gray {border:1px solid #a2a2a2;background:#a2a2a2;color:#fff !important;}
.btn-white {border:1px solid #d0d0d0;background:#fff;color:#222222 !important;}
.btn-white2 {border:1px solid #969696;background:#fff;color:#222222 !important;}
.btn-peach {border:1px solid #c9bfa2;background:#f9f1dc;color:#5b574c !important;}
.btn-blue {border:1px solid #45AAFC;background:#46ACFF;color:#fff !important;}
.btn-blueline {border:1px solid #45AAFC;background:#fff;color:#399FF2 !important;}
.btn-green {border:1px solid #29A437;background:#2BAE3A;color:#fff !important;}
.btn-greenline {border:1px solid #29A437;background:#fff;color:#269A34 !important;}
.btn-orange {border:1px solid #E86D1B;background:#F2711C;color:#fff !important;}
.btn-orangeline {border:1px solid #ED701C;background:#fff;color:#E86D1B !important;}
.btn-red {border:1px solid #CE2626;background:#D82828;color:#fff !important;}
.btn-redline {border:1px solid #D82828;background:#fff;color:#CE2626 !important;}
.btn-purple {border:1px solid #9B30BE;background:#A333C8;color:#fff !important;}
.btn-purpleline {border:1px solid #A333C8;background:#fff;color:#9B30BE !important;}

.page-btn-off {
	display:inline-block;padding:0 8px;text-align:center;
	height:22px;line-height:20px;font-size:11px !important;cursor:pointer;
	vertical-align:middle;
	border:1px solid #d0d0d0;background:#fff;color:#222222;
	box-sizing:border-box;border-radius:2px;
	text-decoration:none !important;
}
.page-btn-on {
	display:inline-block;padding:0 8px;text-align:center;
	height:22px;line-height:20px;font-size:11px !important;cursor:pointer;
	vertical-align:middle;
	border:1px solid #54595f;background:#54595f;color:#fff !important;
	box-sizing:border-box;border-radius:2px;
	text-decoration:none !important;
}

.page-btn-left {
	display:inline-block;padding:0 8px;text-align:center;
	height:22px;line-height:20px;font-size:11px !important;cursor:pointer;
	vertical-align:middle;
	border:1px solid #a2a2a2;background:#a2a2a2;color:#fff !important;
	box-sizing:border-box;border-radius:2px;
	text-decoration:none !important;
}

.page-btn-right {
	display:inline-block;padding:0 8px;text-align:center;
	height:22px;line-height:20px;font-size:11px !important;cursor:pointer;
	vertical-align:middle;
	border:1px solid #a2a2a2;background:#a2a2a2;color:#fff !important;
	box-sizing:border-box;border-radius:2px;
	text-decoration:none !important;
}

.boxround02{box-sizing:border-box;border-radius:2px;}
.boxround03{box-sizing:border-box;border-radius:3px;}
.boxround04{box-sizing:border-box;border-radius:4px;}
.boxround05{box-sizing:border-box;border-radius:5px;}
.boxround06{box-sizing:border-box;border-radius:6px;}
.boxround07{box-sizing:border-box;border-radius:7px;}
.boxround08{box-sizing:border-box;border-radius:8px;}
.boxround09{box-sizing:border-box;border-radius:9px;}
.boxround10{box-sizing:border-box;border-radius:10px;}

.font09{font-size:09px !important;}
.font10{font-size:10px !important;}
.font11{font-size:11px !important;}
.font12{font-size:12px !important;}
.font13{font-size:13px !important;}
.font14{font-size:14px !important;}
.font15{font-size:15px !important;}
.font16{font-size:16px !important;}
.font17{font-size:17px !important;}
.font18{font-size:18px !important;}
.font19{font-size:19px !important;}
.font20{font-size:20px !important;}

.font06em{font-size:0.6em !important;}
.font07em{font-size:0.7em !important;}
.font08em{font-size:0.8em !important;}
.font09em{font-size:0.9em !important;}
.font10em{font-size:1.0em !important;}
.font11em{font-size:1.1em !important;}
.font12em{font-size:1.2em !important;}
.font13em{font-size:1.3em !important;}
.font14em{font-size:1.4em !important;}
.font15em{font-size:1.5em !important;}
.font16em{font-size:1.6em !important;}
.font17em{font-size:1.7em !important;}
.font18em{font-size:1.8em !important;}
.font19em{font-size:1.9em !important;}
.font20em{font-size:2.0em !important;}

.fcolor_white{color:#FFFFFF !important;}
.fcolor_grey250{color:#FAFAFA !important;}
.fcolor_grey240{color:#F0F0F0 !important;}
.fcolor_grey230{color:#E6E6E6 !important;}
.fcolor_grey220{color:#DCDCDC !important;}
.fcolor_grey210{color:#D2D2D2 !important;}
.fcolor_grey200{color:#C8C8C8 !important;}
.fcolor_grey190{color:#BEBEBE !important;}
.fcolor_grey180{color:#B4B4B4 !important;}
.fcolor_grey170{color:#AAAAAA !important;}
.fcolor_grey160{color:#A0A0A0 !important;}
.fcolor_grey150{color:#969696 !important;}
.fcolor_grey140{color:#8C8C8C !important;}
.fcolor_grey130{color:#828282 !important;}
.fcolor_grey120{color:#787878 !important;}
.fcolor_grey110{color:#6E6E6E !important;}
.fcolor_grey111{color:#626262 !important;}
.fcolor_grey100{color:#646464 !important;}
.fcolor_grey90{color:#5B5B5B !important;}
.fcolor_grey80{color:#505050 !important;}
.fcolor_grey70{color:#464646 !important;}
.fcolor_grey60{color:#3C3C3C !important;}
.fcolor_grey50{color:#323232 !important;}
.fcolor_grey40{color:#282828 !important;}
.fcolor_grey30{color:#1E1E1E !important;}
.fcolor_grey20{color:#141414 !important;}
.fcolor_grey10{color:#0A0A0A !important;}
.fcolor_black{color:#000000 !important;}
.fcolor_darkgray{color:#494a53 !important;}

.fcolor_red{color:#D82828 !important;}
.fcolor_orange{color:#F2711C !important;}
.fcolor_yellow{color:#FBBD08 !important;}
.fcolor_olive{color:#B5CC18 !important;}
.fcolor_green{color:#2bae3a !important;}
.fcolor_teal{color:#00B5AD !important;}
.fcolor_blue{color:#2185D0 !important;}
.fcolor_violet{color:#6435C9 !important;}
.fcolor_purple{color:#A333C8 !important;}
.fcolor_pink{color:#E03997 !important;}
.fcolor_brown{color:#A5673F !important;}

.bgcolor_red{background-color:#D82828 !important;}
.bgcolor_orange{background-color:#F2711C !important;}
.bgcolor_yellow{background-color:#FBBD08 !important;}
.bgcolor_olive{background-color:#B5CC18 !important;}
.bgcolor_green{background-color:#2bae3a !important;}
.bgcolor_teal{background-color:#00B5AD !important;}
.bgcolor_blue{background-color:#2185D0 !important;}
.bgcolor_violet{background-color:#6435C9 !important;}
.bgcolor_purple{background-color:#A333C8 !important;}
.bgcolor_pink{background-color:#E03997 !important;}
.bgcolor_brown{background-color:#A5673F !important;}

.bgcolor_white{background-color:#FFFFFF !important;}
.bgcolor_grey250{background-color:#FAFAFA !important;}
.bgcolor_grey240{background-color:#F0F0F0 !important;}
.bgcolor_grey240_1{background-color:#f2f3f5 !important;}
.bgcolor_grey230{background-color:#E6E6E6 !important;}
.bgcolor_grey220{background-color:#DCDCDC !important;}
.bgcolor_grey210{background-color:#D2D2D2 !important;}
.bgcolor_grey200{background-color:#C8C8C8 !important;}
.bgcolor_grey190{background-color:#BEBEBE !important;}
.bgcolor_grey180{background-color:#B4B4B4 !important;}
.bgcolor_grey170{background-color:#AAAAAA !important;}
.bgcolor_grey160{background-color:#A0A0A0 !important;}
.bgcolor_grey150{background-color:#969696 !important;}
.bgcolor_grey140{background-color:#8C8C8C !important;}
.bgcolor_grey130{background-color:#828282 !important;}
.bgcolor_grey120{background-color:#787878 !important;}
.bgcolor_grey110{background-color:#6E6E6E !important;}
.bgcolor_grey100{background-color:#646464 !important;}
.bgcolor_grey90{background-color:#5B5B5B !important;}
.bgcolor_grey80{background-color:#505050 !important;}
.bgcolor_grey70{background-color:#464646 !important;}
.bgcolor_grey60{background-color:#3C3C3C !important;}
.bgcolor_grey50{background-color:#323232 !important;}
.bgcolor_grey40{background-color:#282828 !important;}
.bgcolor_grey30{background-color:#1E1E1E !important;}
.bgcolor_grey20{background-color:#141414 !important;}
.bgcolor_grey10{background-color:#0A0A0A !important;}
.bgcolor_black{background-color:#000000 !important;}

.border_red{border-color:#D82828 !important;}
.border_orange{border-color:#F2711C !important;}
.border_yellow{border-color:#FBBD08 !important;}
.border_olive{border-color:#B5CC18 !important;}
.border_green{border-color:#2bae3a !important;}
.border_teal{border-color:#00B5AD !important;}
.border_blue{border-color:#2185D0 !important;}
.border_violet{border-color:#6435C9 !important;}
.border_purple{border-color:#A333C8 !important;}
.border_pink{border-color:#E03997 !important;}
.border_brown{border-color:#A5673F !important;}

.border_white{border-color:#FFFFFF !important;}
.border_grey250{border-color:#FAFAFA !important;}
.border_grey240{border-color:#F0F0F0 !important;}
.border_grey240_1{border-color:#f2f3f5 !important;}
.border_grey230{border-color:#E6E6E6 !important;}
.border_grey220{border-color:#DCDCDC !important;}
.border_grey210{border-color:#D2D2D2 !important;}
.border_grey200{border-color:#C8C8C8 !important;}
.border_grey190{border-color:#BEBEBE !important;}
.border_grey180{border-color:#B4B4B4 !important;}
.border_grey170{border-color:#AAAAAA !important;}
.border_grey160{border-color:#A0A0A0 !important;}
.border_grey150{border-color:#969696 !important;}
.border_grey140{border-color:#8C8C8C !important;}
.border_grey130{border-color:#828282 !important;}
.border_grey120{border-color:#787878 !important;}
.border_grey110{border-color:#6E6E6E !important;}
.border_grey100{border-color:#646464 !important;}
.border_grey90{border-color:#5B5B5B !important;}
.border_grey80{border-color:#505050 !important;}
.border_grey70{border-color:#464646 !important;}
.border_grey60{border-color:#3C3C3C !important;}
.border_grey50{border-color:#323232 !important;}
.border_grey40{border-color:#282828 !important;}
.border_grey30{border-color:#1E1E1E !important;}
.border_grey20{border-color:#141414 !important;}
.border_grey10{border-color:#0A0A0A !important;}
.border_black{border-color:#000000 !important;}

.line_red{border:solid 1px #D82828 !important;}
.line_orange{border:solid 1px #F2711C !important;}
.line_yellow{border:solid 1px #FBBD08 !important;}
.line_olive{border:solid 1px #B5CC18 !important;}
.line_green{border:solid 1px #2bae3a !important;}
.line_teal{border:solid 1px #00B5AD !important;}
.line_blue{border:solid 1px #2185D0 !important;}
.line_violet{border:solid 1px #6435C9 !important;}
.line_purple{border:solid 1px #A333C8 !important;}
.line_pink{border:solid 1px #E03997 !important;}
.line_brown{border:solid 1px #A5673F !important;}

.line_white{border:solid 1px #FFFFFF !important;}
.line_grey250{border:solid 1px #FAFAFA !important;}
.line_grey240{border:solid 1px #F0F0F0 !important;}
.line_grey240_1{border:solid 1px #f2f3f5 !important;}
.line_grey230{border:solid 1px #E6E6E6 !important;}
.line_grey220{border:solid 1px #DCDCDC !important;}
.line_grey210{border:solid 1px #D2D2D2 !important;}
.line_grey200{border:solid 1px #C8C8C8 !important;}
.line_grey190{border:solid 1px #BEBEBE !important;}
.line_grey180{border:solid 1px #B4B4B4 !important;}
.line_grey170{border:solid 1px #AAAAAA !important;}
.line_grey160{border:solid 1px #A0A0A0 !important;}
.line_grey150{border:solid 1px #969696 !important;}
.line_grey140{border:solid 1px #8C8C8C !important;}
.line_grey130{border:solid 1px #828282 !important;}
.line_grey120{border:solid 1px #787878 !important;}
.line_grey110{border:solid 1px #6E6E6E !important;}
.line_grey100{border:solid 1px #646464 !important;}
.line_grey90{border:solid 1px #5B5B5B !important;}
.line_grey80{border:solid 1px #505050 !important;}
.line_grey70{border:solid 1px #464646 !important;}
.line_grey60{border:solid 1px #3C3C3C !important;}
.line_grey50{border:solid 1px #323232 !important;}
.line_grey40{border:solid 1px #282828 !important;}
.line_grey30{border:solid 1px #1E1E1E !important;}
.line_grey20{border:solid 1px #141414 !important;}
.line_grey10{border:solid 1px #0A0A0A !important;}
.line_black{border:solid 1px #000000 !important;}

.tline_red{border-top:solid 1px #D82828 !important;}
.tline_orange{border-top:solid 1px #F2711C !important;}
.tline_yellow{border-top:solid 1px #FBBD08 !important;}
.tline_olive{border-top:solid 1px #B5CC18 !important;}
.tline_green{border-top:solid 1px #2bae3a !important;}
.tline_teal{border-top:solid 1px #00B5AD !important;}
.tline_blue{border-top:solid 1px #2185D0 !important;}
.tline_violet{border-top:solid 1px #6435C9 !important;}
.tline_purple{border-top:solid 1px #A333C8 !important;}
.tline_pink{border-top:solid 1px #E03997 !important;}
.tline_brown{border-top:solid 1px #A5673F !important;}

.tline_white{border-top:solid 1px #FFFFFF !important;}
.tline_grey250{border-top:solid 1px #FAFAFA !important;}
.tline_grey240{border-top:solid 1px #F0F0F0 !important;}
.tline_grey240_1{border-top:solid 1px #f2f3f5 !important;}
.tline_grey230{border-top:solid 1px #E6E6E6 !important;}
.tline_grey220{border-top:solid 1px #DCDCDC !important;}
.tline_grey210{border-top:solid 1px #D2D2D2 !important;}
.tline_grey200{border-top:solid 1px #C8C8C8 !important;}
.tline_grey190{border-top:solid 1px #BEBEBE !important;}
.tline_grey180{border-top:solid 1px #B4B4B4 !important;}
.tline_grey170{border-top:solid 1px #AAAAAA !important;}
.tline_grey160{border-top:solid 1px #A0A0A0 !important;}
.tline_grey150{border-top:solid 1px #969696 !important;}
.tline_grey140{border-top:solid 1px #8C8C8C !important;}
.tline_grey130{border-top:solid 1px #828282 !important;}
.tline_grey120{border-top:solid 1px #787878 !important;}
.tline_grey110{border-top:solid 1px #6E6E6E !important;}
.tline_grey100{border-top:solid 1px #646464 !important;}
.tline_grey90{border-top:solid 1px #5B5B5B !important;}
.tline_grey80{border-top:solid 1px #505050 !important;}
.tline_grey70{border-top:solid 1px #464646 !important;}
.tline_grey60{border-top:solid 1px #3C3C3C !important;}
.tline_grey50{border-top:solid 1px #323232 !important;}
.tline_grey40{border-top:solid 1px #282828 !important;}
.tline_grey30{border-top:solid 1px #1E1E1E !important;}
.tline_grey20{border-top:solid 1px #141414 !important;}
.tline_grey10{border-top:solid 1px #0A0A0A !important;}
.tline_black{border-top:solid 1px #000000 !important;}


.bline_red{border-bottom:solid 1px #D82828 !important;}
.bline_orange{border-bottom:solid 1px #F2711C !important;}
.bline_yellow{border-bottom:solid 1px #FBBD08 !important;}
.bline_olive{border-bottom:solid 1px #B5CC18 !important;}
.bline_green{border-bottom:solid 1px #2bae3a !important;}
.bline_teal{border-bottom:solid 1px #00B5AD !important;}
.bline_blue{border-bottom:solid 1px #2185D0 !important;}
.bline_violet{border-bottom:solid 1px #6435C9 !important;}
.bline_purple{border-bottom:solid 1px #A333C8 !important;}
.bline_pink{border-bottom:solid 1px #E03997 !important;}
.bline_brown{border-bottom:solid 1px #A5673F !important;}

.bline_white{border-bottom:solid 1px #FFFFFF !important;}
.bline_grey250{border-bottom:solid 1px #FAFAFA !important;}
.bline_grey240{border-bottom:solid 1px #F0F0F0 !important;}
.bline_grey240_1{border-bottom:solid 1px #f2f3f5 !important;}
.bline_grey230{border-bottom:solid 1px #E6E6E6 !important;}
.bline_grey220{border-bottom:solid 1px #DCDCDC !important;}
.bline_grey210{border-bottom:solid 1px #D2D2D2 !important;}
.bline_grey200{border-bottom:solid 1px #C8C8C8 !important;}
.bline_grey190{border-bottom:solid 1px #BEBEBE !important;}
.bline_grey180{border-bottom:solid 1px #B4B4B4 !important;}
.bline_grey170{border-bottom:solid 1px #AAAAAA !important;}
.bline_grey160{border-bottom:solid 1px #A0A0A0 !important;}
.bline_grey150{border-bottom:solid 1px #969696 !important;}
.bline_grey140{border-bottom:solid 1px #8C8C8C !important;}
.bline_grey130{border-bottom:solid 1px #828282 !important;}
.bline_grey120{border-bottom:solid 1px #787878 !important;}
.bline_grey110{border-bottom:solid 1px #6E6E6E !important;}
.bline_grey100{border-bottom:solid 1px #646464 !important;}
.bline_grey90{border-bottom:solid 1px #5B5B5B !important;}
.bline_grey80{border-bottom:solid 1px #505050 !important;}
.bline_grey70{border-bottom:solid 1px #464646 !important;}
.bline_grey60{border-bottom:solid 1px #3C3C3C !important;}
.bline_grey50{border-bottom:solid 1px #323232 !important;}
.bline_grey40{border-bottom:solid 1px #282828 !important;}
.bline_grey30{border-bottom:solid 1px #1E1E1E !important;}
.bline_grey20{border-bottom:solid 1px #141414 !important;}
.bline_grey10{border-bottom:solid 1px #0A0A0A !important;}
.bline_black{border-bottom:solid 1px #000000 !important;}

.rline_red{border-right:solid 1px #D82828 !important;}
.rline_orange{border-right:solid 1px #F2711C !important;}
.rline_yellow{border-right:solid 1px #FBBD08 !important;}
.rline_olive{border-right:solid 1px #B5CC18 !important;}
.rline_green{border-right:solid 1px #2bae3a !important;}
.rline_teal{border-right:solid 1px #00B5AD !important;}
.rline_blue{border-right:solid 1px #2185D0 !important;}
.rline_violet{border-right:solid 1px #6435C9 !important;}
.rline_purple{border-right:solid 1px #A333C8 !important;}
.rline_pink{border-right:solid 1px #E03997 !important;}
.rline_brown{border-right:solid 1px #A5673F !important;}

.rline_white{border-right:solid 1px #FFFFFF !important;}
.rline_grey250{border-right:solid 1px #FAFAFA !important;}
.rline_grey240{border-right:solid 1px #F0F0F0 !important;}
.rline_grey240_1{border-right:solid 1px #f2f3f5 !important;}
.rline_grey230{border-right:solid 1px #E6E6E6 !important;}
.rline_grey220{border-right:solid 1px #DCDCDC !important;}
.rline_grey210{border-right:solid 1px #D2D2D2 !important;}
.rline_grey200{border-right:solid 1px #C8C8C8 !important;}
.rline_grey190{border-right:solid 1px #BEBEBE !important;}
.rline_grey180{border-right:solid 1px #B4B4B4 !important;}
.rline_grey170{border-right:solid 1px #AAAAAA !important;}
.rline_grey160{border-right:solid 1px #A0A0A0 !important;}
.rline_grey150{border-right:solid 1px #969696 !important;}
.rline_grey140{border-right:solid 1px #8C8C8C !important;}
.rline_grey130{border-right:solid 1px #828282 !important;}
.rline_grey120{border-right:solid 1px #787878 !important;}
.rline_grey110{border-right:solid 1px #6E6E6E !important;}
.rline_grey100{border-right:solid 1px #646464 !important;}
.rline_grey90{border-right:solid 1px #5B5B5B !important;}
.rline_grey80{border-right:solid 1px #505050 !important;}
.rline_grey70{border-right:solid 1px #464646 !important;}
.rline_grey60{border-right:solid 1px #3C3C3C !important;}
.rline_grey50{border-right:solid 1px #323232 !important;}
.rline_grey40{border-right:solid 1px #282828 !important;}
.rline_grey30{border-right:solid 1px #1E1E1E !important;}
.rline_grey20{border-right:solid 1px #141414 !important;}
.rline_grey10{border-right:solid 1px #0A0A0A !important;}
.rline_black{border-right:solid 1px #000000 !important;}

.lline_red{border-left:solid 1px #D82828 !important;}
.lline_orange{border-left:solid 1px #F2711C !important;}
.lline_yellow{border-left:solid 1px #FBBD08 !important;}
.lline_olive{border-left:solid 1px #B5CC18 !important;}
.lline_green{border-left:solid 1px #2bae3a !important;}
.lline_teal{border-left:solid 1px #00B5AD !important;}
.lline_blue{border-left:solid 1px #2185D0 !important;}
.lline_violet{border-left:solid 1px #6435C9 !important;}
.lline_purple{border-left:solid 1px #A333C8 !important;}
.lline_pink{border-left:solid 1px #E03997 !important;}
.lline_brown{border-left:solid 1px #A5673F !important;}

.lline_white{border-left:solid 1px #FFFFFF !important;}
.lline_grey250{border-left:solid 1px #FAFAFA !important;}
.lline_grey240{border-left:solid 1px #F0F0F0 !important;}
.lline_grey240_1{border-left:solid 1px #f2f3f5 !important;}
.lline_grey230{border-left:solid 1px #E6E6E6 !important;}
.lline_grey220{border-left:solid 1px #DCDCDC !important;}
.lline_grey210{border-left:solid 1px #D2D2D2 !important;}
.lline_grey200{border-left:solid 1px #C8C8C8 !important;}
.lline_grey190{border-left:solid 1px #BEBEBE !important;}
.lline_grey180{border-left:solid 1px #B4B4B4 !important;}
.lline_grey170{border-left:solid 1px #AAAAAA !important;}
.lline_grey160{border-left:solid 1px #A0A0A0 !important;}
.lline_grey150{border-left:solid 1px #969696 !important;}
.lline_grey140{border-left:solid 1px #8C8C8C !important;}
.lline_grey130{border-left:solid 1px #828282 !important;}
.lline_grey120{border-left:solid 1px #787878 !important;}
.lline_grey110{border-left:solid 1px #6E6E6E !important;}
.lline_grey100{border-left:solid 1px #646464 !important;}
.lline_grey90{border-left:solid 1px #5B5B5B !important;}
.lline_grey80{border-left:solid 1px #505050 !important;}
.lline_grey70{border-left:solid 1px #464646 !important;}
.lline_grey60{border-left:solid 1px #3C3C3C !important;}
.lline_grey50{border-left:solid 1px #323232 !important;}
.lline_grey40{border-left:solid 1px #282828 !important;}
.lline_grey30{border-left:solid 1px #1E1E1E !important;}
.lline_grey20{border-left:solid 1px #141414 !important;}
.lline_grey10{border-left:solid 1px #0A0A0A !important;}
.lline_black{border-left:solid 1px #000000 !important;}

.border_top_division_line{border-top:solid 1px #C9C9C9 !important;}
.border_bottom_division_line{border-bottom:solid 1px #C9C9C9 !important;}
.border_right_division_line{border-right:solid 1px #C9C9C9 !important;}

.mg02{margin:2px; !important;}
.mg03{margin:3px; !important;}
.mg04{margin:4px; !important;}
.mg05{margin:5px; !important;}
.mg06{margin:6px; !important;}
.mg07{margin:7px; !important;}
.mg08{margin:8px; !important;}
.mg09{margin:9px; !important;}
.mg10{margin:10px; !important;}
.mg12{margin:12px; !important;}
.mg14{margin:14px; !important;}
.mg16{margin:16px; !important;}
.mg18{margin:18px; !important;}
.mg20{margin:20px; !important;}

.mg02_T{margin-top:2px; !important;}
.mg03_T{margin-top:3px; !important;}
.mg04_T{margin-top:4px; !important;}
.mg05_T{margin-top:5px; !important;}
.mg06_T{margin-top:6px; !important;}
.mg07_T{margin-top:7px; !important;}
.mg08_T{margin-top:8px; !important;}
.mg09_T{margin-top:9px; !important;}
.mg10_T{margin-top:10px; !important;}
.mg12_T{margin-top:12px; !important;}
.mg14_T{margin-top:14px; !important;}
.mg16_T{margin-top:16px; !important;}
.mg18_T{margin-top:18px; !important;}
.mg20_T{margin-top:20px; !important;}
.mg36_T{margin-top:36px; !important;}

.mg02_B{margin-bottom:2px; !important;}
.mg03_B{margin-bottom:3px; !important;}
.mg04_B{margin-bottom:4px; !important;}
.mg05_B{margin-bottom:5px; !important;}
.mg06_B{margin-bottom:6px; !important;}
.mg07_B{margin-bottom:7px; !important;}
.mg08_B{margin-bottom:8px; !important;}
.mg09_B{margin-bottom:9px; !important;}
.mg10_B{margin-bottom:10px; !important;}
.mg12_B{margin-bottom:12px; !important;}
.mg14_B{margin-bottom:14px; !important;}
.mg16_B{margin-bottom:16px; !important;}
.mg18_B{margin-bottom:18px; !important;}
.mg20_B{margin-bottom:20px; !important;}

.mg02_L{margin-left:2px; !important;}
.mg03_L{margin-left:3px; !important;}
.mg04_L{margin-left:4px; !important;}
.mg05_L{margin-left:5px; !important;}
.mg06_L{margin-left:6px; !important;}
.mg07_L{margin-left:7px; !important;}
.mg08_L{margin-left:8px; !important;}
.mg09_L{margin-left:9px; !important;}
.mg10_L{margin-left:10px; !important;}
.mg12_L{margin-left:12px; !important;}
.mg14_L{margin-left:14px; !important;}
.mg16_L{margin-left:16px; !important;}
.mg18_L{margin-left:18px; !important;}
.mg20_L{margin-left:20px; !important;}

.mg02_R{margin-right:2px; !important;}
.mg03_R{margin-right:3px; !important;}
.mg04_R{margin-right:4px; !important;}
.mg05_R{margin-right:5px; !important;}
.mg06_R{margin-right:6px; !important;}
.mg07_R{margin-right:7px; !important;}
.mg08_R{margin-right:8px; !important;}
.mg09_R{margin-right:9px; !important;}
.mg10_R{margin-right:10px; !important;}
.mg12_R{margin-right:12px; !important;}
.mg14_R{margin-right:14px; !important;}
.mg16_R{margin-right:16px; !important;}
.mg18_R{margin-right:18px; !important;}
.mg20_R{margin-right:20px; !important;}

.pd02{padding:2px; !important;}
.pd03{padding:3px; !important;}
.pd04{padding:4px; !important;}
.pd05{padding:5px; !important;}
.pd06{padding:6px; !important;}
.pd07{padding:7px; !important;}
.pd08{padding:8px; !important;}
.pd09{padding:9px; !important;}
.pd10{padding:10px; !important;}
.pd12{padding:12px; !important;}
.pd14{padding:14px; !important;}
.pd16{padding:16px; !important;}
.pd18{padding:18px; !important;}
.pd20{padding:20px; !important;}

.pd02_T{padding-top:2px; !important;}
.pd03_T{padding-top:3px; !important;}
.pd04_T{padding-top:4px; !important;}
.pd05_T{padding-top:5px; !important;}
.pd06_T{padding-top:6px; !important;}
.pd07_T{padding-top:7px; !important;}
.pd08_T{padding-top:8px; !important;}
.pd09_T{padding-top:9px; !important;}
.pd10_T{padding-top:10px; !important;}
.pd12_T{padding-top:12px; !important;}
.pd14_T{padding-top:14px; !important;}
.pd16_T{padding-top:16px; !important;}
.pd18_T{padding-top:18px; !important;}
.pd20_T{padding-top:20px; !important;}
.pd36_T{padding-top:36px; !important;}

.pd02_B{padding-bottom:2px; !important;}
.pd03_B{padding-bottom:3px; !important;}
.pd04_B{padding-bottom:4px; !important;}
.pd05_B{padding-bottom:5px; !important;}
.pd06_B{padding-bottom:6px; !important;}
.pd07_B{padding-bottom:7px; !important;}
.pd08_B{padding-bottom:8px; !important;}
.pd09_B{padding-bottom:9px; !important;}
.pd10_B{padding-bottom:10px; !important;}
.pd12_B{padding-bottom:12px; !important;}
.pd14_B{padding-bottom:14px; !important;}
.pd16_B{padding-bottom:16px; !important;}
.pd18_B{padding-bottom:18px; !important;}
.pd20_B{padding-bottom:20px; !important;}

.pd02_L{padding-left:2px; !important;}
.pd03_L{padding-left:3px; !important;}
.pd04_L{padding-left:4px; !important;}
.pd05_L{padding-left:5px; !important;}
.pd06_L{padding-left:6px; !important;}
.pd07_L{padding-left:7px; !important;}
.pd08_L{padding-left:8px; !important;}
.pd09_L{padding-left:9px; !important;}
.pd10_L{padding-left:10px; !important;}
.pd12_L{padding-left:12px; !important;}
.pd14_L{padding-left:14px; !important;}
.pd16_L{padding-left:16px; !important;}
.pd18_L{padding-left:18px; !important;}
.pd20_L{padding-left:20px; !important;}

.pd02_R{padding-right:2px; !important;}
.pd03_R{padding-right:3px; !important;}
.pd04_R{padding-right:4px; !important;}
.pd05_R{padding-right:5px; !important;}
.pd06_R{padding-right:6px; !important;}
.pd07_R{padding-right:7px; !important;}
.pd08_R{padding-right:8px; !important;}
.pd09_R{padding-right:9px; !important;}
.pd10_R{padding-right:10px; !important;}
.pd12_R{padding-right:12px; !important;}
.pd14_R{padding-right:14px; !important;}
.pd16_R{padding-right:16px; !important;}
.pd18_R{padding-right:18px; !important;}
.pd20_R{padding-right:20px; !important;}

.fbold{font-weight:bold !important;}
.funderline{text-decoration:underline !important;}
.tcenter{text-align:center !important;}
.tleft{text-align:left !important;}
.tright{text-align:right !important;}

.fspa-20{letter-spacing:-2px !important;}
.fspa-15{letter-spacing:-1.5px !important;}
.fspa-10{letter-spacing:-1px !important;}
.fspa-09{letter-spacing:-0.9px !important;}
.fspa-08{letter-spacing:-0.8px !important;}
.fspa-07{letter-spacing:-0.7px !important;}
.fspa-06{letter-spacing:-0.6px !important;}
.fspa-05{letter-spacing:-0.5px !important;}
.fspa-04{letter-spacing:-0.4px !important;}
.fspa-03{letter-spacing:-0.3px !important;}
.fspa-02{letter-spacing:-0.2px !important;}
.fspa-01{letter-spacing:-0.1px !important;}
.fspa0{letter-spacing:0px !important;}
.fspa1{letter-spacing:1px !important;}
.fspa2{letter-spacing:2px !important;}
.fspa3{letter-spacing:3px !important;}
.fspa4{letter-spacing:4px !important;}
.fspa5{letter-spacing:5px !important;}
.fspa6{letter-spacing:6px !important;}
.fspa7{letter-spacing:7px !important;}
.fspa8{letter-spacing:8px !important;}

.inputbox{padding:5px;font-size:12px;border:solid 1px #B0B0B0;vertical-align:middle;}
.inputboxReadonly{padding:5px;font-size:12px;background-color:#E6E6E6;vertical-align:middle;}
.inputboxred{padding:5px;font-size:12px;border:solid 1px #E62200;vertical-align:middle;}
.inputboxorange{padding:5px;font-size:12px;border:solid 1px #F2711C;vertical-align:middle;}
.inputboxolive{padding:5px;font-size:12px;border:solid 1px #B5CC18;vertical-align:middle;}
.inputboxgreen{padding:5px;font-size:12px;border:solid 1px #2BAE3A;vertical-align:middle;}
.inputboxblue{padding:5px;font-size:12px;border:solid 1px #2185D0;vertical-align:middle;}
.inputboxselect{padding:4px;font-size:12px;border:solid 1px #B0B0B0;vertical-align:middle;}
.inputradio{padding:5px;font-size:12px;border:0px;vertical-align:middle;}
.inputcheckbox{padding:5px;font-size:12px;border:0px;vertical-align:middle;}
.textareabox{
	padding:8px;font-size:12px;border:solid 1px #B0B0B0;vertical-align:middle;
	line-height:20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.boxsizingBorder{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.disyes{display:;}
.disno{display:none;}

.hrdivision02{height:1px;border:0px;margin-top:2px;margin-bottom:2px;}
.hrdivision03{height:1px;border:0px;margin-top:3px;margin-bottom:3px;}
.hrdivision04{height:1px;border:0px;margin-top:4px;margin-bottom:4px;}
.hrdivision05{height:1px;border:0px;margin-top:5px;margin-bottom:5px;}
.hrdivision06{height:1px;border:0px;margin-top:6px;margin-bottom:6px;}
.hrdivision07{height:1px;border:0px;margin-top:7px;margin-bottom:7px;}
.hrdivision08{height:1px;border:0px;margin-top:8px;margin-bottom:8px;}
.hrdivision09{height:1px;border:0px;margin-top:9px;margin-bottom:9px;}
.hrdivision10{height:1px;border:0px;margin-top:10px;margin-bottom:10px;}
.hrdivision11{height:1px;border:0px;margin-top:11px;margin-bottom:11px;}
.hrdivision12{height:1px;border:0px;margin-top:12px;margin-bottom:12px;}
.hrdivision13{height:1px;border:0px;margin-top:13px;margin-bottom:13px;}
.hrdivision14{height:1px;border:0px;margin-top:14px;margin-bottom:14px;}
.hrdivision15{height:1px;border:0px;margin-top:15px;margin-bottom:15px;}
.hrdivision16{height:1px;border:0px;margin-top:16px;margin-bottom:16px;}
.hrdivision17{height:1px;border:0px;margin-top:17px;margin-bottom:17px;}
.hrdivision18{height:1px;border:0px;margin-top:18px;margin-bottom:18px;}
.hrdivision19{height:1px;border:0px;margin-top:19px;margin-bottom:19px;}
.hrdivision20{height:1px;border:0px;margin-top:20px;margin-bottom:20px;}
.hrdivision21{height:1px;border:0px;margin-top:21px;margin-bottom:21px;}
.hrdivision22{height:1px;border:0px;margin-top:22px;margin-bottom:22px;}
.hrdivision23{height:1px;border:0px;margin-top:23px;margin-bottom:23px;}
.hrdivision24{height:1px;border:0px;margin-top:24px;margin-bottom:24px;}
.hrdivision25{height:1px;border:0px;margin-top:25px;margin-bottom:25px;}
.hrdivision26{height:1px;border:0px;margin-top:26px;margin-bottom:26px;}
.hrdivision27{height:1px;border:0px;margin-top:27px;margin-bottom:27px;}
.hrdivision28{height:1px;border:0px;margin-top:28px;margin-bottom:28px;}
.hrdivision29{height:1px;border:0px;margin-top:29px;margin-bottom:29px;}
.hrdivision30{height:1px;border:0px;margin-top:30px;margin-bottom:30px;}

.top_triangle_darkgray{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACpJREFUeNpiDImM/8+ABTBhE1y9bAEjEzZBDB0wQRQJZEG4BLogCAAEGACCGQvRdo3WMgAAAABJRU5ErkJggg=='); background-repeat: no-repeat; background-position: 0px 0px;}
.top_triangle_gray{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACdJREFUeNpiXLRo0X8GLICJATtgxCbBiE0HIzajGLHZwYhuHkCAAQCvtgL2aeAovgAAAABJRU5ErkJggg=='); background-repeat: no-repeat; background-position: 0px 0px;}
.top_triangle_red{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpivKGh8Z8BC2BiwA4YsUkwYtPBiM0oRmx2MKKbBxBgAEKOAjiEI+7mAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-position: 0px 0px;}
.top_triangle_blue{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpidFvz/z8DFsDEgB0wYpNgxKaDEZtRjNjsYEQ3DyDAALVZAwEVNw+vAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-position: 0px 0px;}
.top_triangle_green{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi1F5n9Z8BC2BiwA4YsUkwYtPBiM0oRmx2MKKbBxBgADWrAiMXqMIGAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-position: 0px 0px;}
.top_triangle_orange{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi/FQo858BC2BiwA4YsUkwYtPBiM0oRmx2MKKbBxBgAHUAAo8RnqUCAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-position: 0px 0px;}
.top_triangle_pink{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi/BDV+Z8BC2BiwA4YsUkwYtPBiM0oRmx2MKKbBxBgAKUhAuMMk1bEAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-position: 0px 0px;}
.top_triangle_purple{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpiXGx84j8DFsDEgB0wYpNgxKaDEZtRjNjsYEQ3DyDAAIXxAq5DKfTyAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-position: 0px 0px;}


